<div class="off-canvas-sidebar">
  <nav class="navbar navbar-primary navbar-transparent navbar-absolute">
    <!--<nav class="navbar navbar-transparent navbar-absolute" style="background-color: #FAFAFA">-->
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand">Aurora</a>
      </div>
    </div>
  </nav>
  <div class="wrapper wrapper-full-page">
    <div class="full-page login-page" filter-color="black"
         data-image="assets/img/dashboard/architecture-asphalt-berlin-417023.jpg" style="background-size: cover;">
      <div class="content">
        <div class="container">


          <div class="row">
            <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
              <form #frmLogin="ngForm" action="" method="post" (ngSubmit)="getLogin()">
                <div class="card card-login card-hidden" style="background-color: rgba(0,0,0,0.6);border: none">
                  <div class="card-header text-center" data-background-color="rose">
                    <h4 class="card-title">Login</h4>
                    <div class="social-line">
                      <a href="https://www.google.com/" target="_blank" class="btn btn-just-icon btn-simple">
                        <i class="fa fa-google"></i>
                      </a>
                      <a href="#pablo" class="btn btn-just-icon btn-simple">
                        <i class="fa fa-youtube-play"></i>
                      </a>
                      <a href="https://www.github.com/" target="_blank" class="btn btn-just-icon btn-simple">
                        <i class="fa fa-github"></i>
                      </a>
                    </div>
                  </div>
                  <div class="card-content">

                    <div class="input-group">
        <span class="input-group-addon">
          <i class="material-icons">face</i>
        </span>

                      <div class="form-group label-floating">
                        <label class="control-label">Team ID</label>
                        <input type="text" class="form-control" [(ngModel)]="user.teamId" name="txtUserid" style="color: white">
                      </div>
                    </div>

                    <div class="input-group">
        <span class="input-group-addon">
          <i class="material-icons">lock_outline</i>
        </span>
                      <div class="form-group label-floating">
                        <label class="control-label">Password</label>
                        <input type="{{passwordVisibility?'text':'password'}}" class="form-control" [(ngModel)]="user.teamPassword" name="txtPassword"
                               style="color: white">
                      </div>
                      <span class="input-group-addon" style="cursor: pointer" (click)="passwordVisible()">
          <i class="material-icons">visibility</i>
        </span>
                    </div>
                  </div>
                  <div class="footer text-center">
                    <button type="submit" class="btn btn-rose btn-simple btn-wd btn-lg" style="color: #e9b500">
                      Sign In
                    </button>
                  </div>
                  <div *ngIf="failed" class="alert alert-danger"
                       style="margin-left: 10px;margin-right: 10px;text-align: center;color: #870c00;font-weight: bold">
                    Incorrect username or password
                  </div>
                </div>
              </form>
            </div>
          </div>



        </div>
      </div>

      <footer class="footer" style="padding: 0px">
        <div class="container" style="margin-right: 0px">
          <p class="copyright pull-right">
            Copyright &copy; 2018 - University Of Sri Jayewardenapura / Department Of Computer Science
          </p>
        </div>
      </footer>

    </div>
  </div>
</div>
