<div class="content" style="background-color: #FAFAFA;margin-top: 0px;padding-top: 50px;height:100vh;">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12 col-12" style="padding-bottom: 30px">
        <div class="card">
          <form class="form-horizontal">
            <div class="card-header card-header-text" data-background-color="rose">
              <h4 class="card-title" style="font-weight: lighter">RULES AND REGULATIONS</h4>
            </div>
            <!-- /.card-header -->
            <div class="card-content">
              <div class="row" style="height: 40px"></div>
              <div class="row" style="font-weight: bold;font-size: 16px;padding-left: 15px">
                <div class="col-12"></div>
                <div class="col-12">
                  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam beatae, cupiditate eaque ex
                    pariatur perferendis praesentium tempore. Adipisci deserunt est, fugiat ipsam iste iusto
                    necessitatibus quia voluptate. Sint soluta, sunt.
                  </div>
                  <div>Ab accusamus, alias animi at cum dignissimos ducimus eligendi esse facilis fugit iusto labore,
                    laborum nam natus nisi odio quaerat quam qui rerum sed sit soluta vero. Fugit illo, minus?
                  </div>
                  <div>Accusamus accusantium aliquid, architecto, beatae eaque error eveniet facilis, fuga laboriosam
                    obcaecati odio perspiciatis recusandae saepe tenetur voluptas! Corporis eos ex illum laboriosam modi
                    nemo quaerat recusandae repudiandae sit sunt?
                  </div>
                  <div>Atque deserunt doloremque earum fuga, perspiciatis ullam! Animi asperiores deleniti distinctio
                    dolorem eveniet, excepturi exercitationem expedita facilis harum incidunt, iure maiores molestias
                    placeat quae recusandae sapiente sunt temporibus ut? Ullam.
                  </div>
                  <div>Amet est iusto laudantium rerum voluptate. Adipisci aperiam cum dolores ducimus error esse
                    facilis mollitia nam nihil nulla odio perferendis placeat praesentium quaerat rerum tempora,
                    voluptate. Cumque earum numquam recusandae?
                  </div>
                  <div>Accusantium amet architecto consectetur debitis dolor dolorem enim est exercitationem illo ipsum
                    laudantium, magni modi natus omnis provident, repellendus velit. Ab aliquid atque dolores eligendi
                    libero nulla unde vitae voluptates.
                  </div>
                  <div>Culpa minus molestias neque nobis odit. Assumenda, ducimus eos est id in iusto labore libero, non
                    optio quam quas reiciendis sint totam veniam voluptatem. Adipisci at nam officiis temporibus velit.
                  </div>
                  <div>Aliquam et eveniet odio qui tenetur vel vitae! Aliquam, atque consequuntur deserunt et iusto
                    magni unde! Aliquam, eaque eius fugiat laborum natus odio perspiciatis quae, quasi quo recusandae
                    sunt vitae?
                  </div>
                  <div>Accusamus, atque culpa eligendi expedita facilis illum inventore, ipsam laborum maxime natus
                    perspiciatis quae quos sit, soluta suscipit temporibus veritatis. Eaque iure iusto nisi obcaecati
                    tenetur totam veritatis, voluptatem voluptatibus.
                  </div>
                  <div>A ab atque blanditiis consequatur cupiditate eos eveniet, facere fugit hic in iure iusto labore
                    laudantium maxime mollitia, necessitatibus provident quam quidem quos reiciendis temporibus tenetur
                    vero voluptate voluptatem voluptatum?
                  </div></div>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
