<div class="centered-window">
    <div class="rules-content">
        <span>
            <h1 class="h1"> Rules and regulations</h1>
        </span>
        <span>
            <p>
                Rules and regulations to be send to the Schools
                <br> Aurora 2018, with a tight focus on the fourth Industrial revolution of Artificial Intelligence has brought
                out a competition for the school students around the island to bring out their skills and give them a hands-on
                experience with the technology underlying AI. The core principles of the competition itself will be quite
                easy. However, to win in the competition the team members have to use the most efficient method of winning
                the competition. In addition to that, the students will be pitted against AI models and will have to use
                those AI models to solve the questions at hand.
                <br> There will be two phases of the competition.
                <br> Prerequisites at a glance:
                <br> Number of team members: 2 to 4
                <br> Skills needed:
                <br> &nbsp; Knowledge of the following:
                <br> &nbsp;&nbsp; General ICT
                <br> &nbsp;&nbsp; History
                <br> &nbsp;&nbsp; Computer System Organization
                <br> &nbsp;&nbsp; Basic Programming (Add Example)
                <br> &nbsp;&nbsp; Basic Encryption and Decryption methods (Morse code,ASCII)
                <br> Softwares to be familiar with: PowerPoint
                <br> For the entirety of the competition a team of 2 to 4 students shall be needed. A team leader with the skills
                of being able to take quick decisions and coordinate team members should be appointed for each team. The
                team members can have the skills of having the knowledge on General ICT facts, History, Computer System Organization
                and Programming and in addition basic encryption and decryption methods. As mentioned below the first phase
                will be using Scratch in the first part of the competition and therefore familiarity with the software and
                the techniques and trends should be adopted as well.
                <br> In detail description of the competition
                <br> Phase 1:
                <br> The first phase will be held in the Computer Science Laboratory of the University with two separate parts.
                <br> The students will be presented with a set of real world problems and are then advised to use the program
                Scratch to make a solution or to present the solution they have thought through character animations in Scratch.
                <br> After preparing their Scratch projects the students shall present their solutions to a panel of judges and
                receive marks accordingly.
                <br> The second part of Phase 1 will be an online quiz where the students will have to pass through a set of
                levels in the quiz. However ongoing with the theme of Aurora 2018, an AI will be deciding the path they have
                to go through and the questions they have to face to reach the centre. After the set amount of time, the
                top two teams that have reached the centre or accumulated the maximum amount of marks wins.
                <br>
            </p>
        </span>
    </div>
    <br>
    <div *ngIf="!(startNotify | async)" class="start-notify">
        <h3 class="h3"> Waiting to start the competition</h3>
    </div>
</div>