.overview-container {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 100%;
}
.overview-panel-left {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  width: 100%;
}
.overview-rings {
  flex-grow: 5;
}
.overview-start-timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.overview-start-button {
  flex-grow: 1;
}
.overview-panel-right {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  width: 100%;
}
.overview-timer {
  flex-grow: 1;
}
.overview-leaderboard {
  /* flex-grow: 3; */
}
